<template name="flight">
  <div class="flight">
    <div class="flight-desc">
      <div class="label label-green">Space X</div>
    </div>
    <div class="flight-cities">
      <div class="flight-city">Earth</div>
      <div class="flight-progress">
        <div class="flight-progress-track">&#9992;</div>
      </div>
      <div class="escalas">
        2 Escalas
      </div>
      <div class="flight-progress">
        <div class="flight-progress-track2">&#9992;</div>
      </div>
      <div class="flight-city">Jupiter</div>
    </div>
    <div class="flight-leg flight-from">
      <table class="flight-details">
        <thead>
          <tr>
            <td>Fecha Salida</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>10/05/2019</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flight-leg flight-to">
      <table class="flight-details">
        <thead>
          <tr>
            <td>Fecha Llegada</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>20/07/2019</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
